
*{
  font-family: 'PT Sans';
  font-weight: bold;
}
.nav-bar {
    width: 15%;
    min-height: 100%;
    background-color: #1E3190;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-bar a{
    font-size: 2em;
    margin: 20px;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

.title {
    margin-left: 30%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.title h2 {
    margin: 0;
}

.title p {
    margin: 0;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 80vh;
    margin: 5%;
    background-color: #F4F3FA;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: 0;
}

.rows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    margin: 10px;
}

.columns {
    background-color: transparent;
    height: 70%;
    width: 45%;
    padding: 2%;
}


/* ELEMENTE*/

.add-task-container h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.inputRect {
    height: 50px;
    width: 100%;
}

.form-butons {
    margin: 50px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.form-butons button {
    height: 50px;
    padding: 10px;
    width: fit-content;
    font-size: 1em;
    background-color: #1F318E;
    color: white;
    border-radius: 10px;
    
}

#cancel-link{
    text-decoration: none;
    margin-right: 2em;
    font-size: 1.2em;
}

select{

    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('/img/chevron\ .png');
    background-position-x: 95%;
    background-position-y: 50%;
    padding-left: 1em;


    background-repeat: no-repeat;
    
}
/* change icons */

::-webkit-calendar-picker-indicator {
    background-image: url('/img/icons8-calendar-150.png');
    font-size: 3em;
  }