* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* PAGE TITLE */
body {

    background-color: #e3e3e3;
}

.title {
    margin-left: 20%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.title h2 {
    margin: 0;
}

.title p {
    margin: 0;
}

/* FORM */
.form-container {
    background-color: #F4F3FB;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 10px;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.form-container input {
    height: 60px;
    width: 300px;
    border-radius: 10px;
}


.form-container select {
    height: 60px;
    width: 300px;
    border-radius: 10px;
}

.form-container p {
    color: #1E3190;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 20px;
}

.urgency-radio {
    display: flex;
    align-items: center;
    max-width: 400px;
}

.urgency-radio input {
    height: 20px;
    width: 20px;
    margin: 0px 10px;

}

.user-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-box img {
    height: 20px;
    width: 20px;
}

.adding-links {
    text-decoration: none;
    margin-left: 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0px !important;

}

/* change icons of selection and calender */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/img/chevron\ .png');
    background-position-x: 95%;
    background-position-y: 50%;
    padding-left: 1em;
    background-repeat: no-repeat;
}


::-webkit-calendar-picker-indicator {
    background-image: url('/img/icons8-calendar-150.png');
    font-size: 2.5em;
}

/* OVERLAYS */

#add-user-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);

}

#add-category-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);
}

.add-user-container,
.add-category-container {
    background-color: #1E3190;
    min-height: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    z-index: 100;
}


/* My Classes */
.display-none {
    display: none !important;
}


@media screen and (max-height: 700px) {
    .title {
        display: none;
    }

    .add-task-container h3 {
        font-size: 1.2em;
    }

    .add-task-container {
        min-height: 95vh;
    }

    .add-task-container h3 {
        font-size: 1em !important;
        margin: 0;
        padding: 0;
    }

    .inputRect {
        height: 25px;
        width: 100%;
    }

    .rows {

        margin: 5px;
    }

    .columns {
        background-color: transparent;
        height: 70%;
        width: 45%;
        padding: 10px;
    }

}