#backlog-container {
    margin-left: 17%;
    display: flex;
    flex-direction: column;

}

#backlog-tasks {
    overflow-y: scroll;
    height: 75vh;
    padding: 5px;
}

.title {
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.backlog-title {
    display: flex;
    justify-content: space-between;
    color: blue;
}

.backlog-title>div {
    display: flex;
    justify-content: center;
}

.backlog-content {
    display: flex;
    flex-direction: column;
    background-color: #F4F3FB;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;


}

.backlog-row-firs-child {
    display: flex;
    justify-content: space-between;
}


.customBox {
    width: 30% !important;

}

.user-info {
    display: flex;
    align-items: center;
}

#userImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name-email {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.user-name-email p {
    padding: 0;
    margin: 0;
    color: red;
}

.category {
    display: flex;
    justify-content: center;
}

.ditails {
    display: flex;
    justify-content: center;
}

.backlog-row-second-child {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

.backlog-row-second-child button{
    width: 100px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
   
}
