* {
    font-family: 'PT Sans';
    font-weight: bold;
}


.red-outline {
    outline: 1px solid red;
}

.nav-bar {
    width: 15%;
    height: 100vh;
    background: linear-gradient(135deg, #140194, #b1a8cd);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gr-name {
    color: #ffffff;
    text-align: center;
}

.nav-bar a {
    font-size: 2em;
    margin: 20px;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
}

.nav-bar a:hover {
    text-decoration: underline;

}

.logout-button {
    background-color: red;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
}

@media screen and (max-width: 1000px) {
    .nav-bar {
        display: none;
    }
}