<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTasks</title>
    <link rel="stylesheet" href="/CSS/addTaskStyle.css">
</head>
<body>
    
    <div class="add-task-container">
        <div class="form-row-one rows">
            <div class="first-row-child-one columns">
                <h3>TITLE</h3>
                 <input type="text" placeholder="Insert a title">
            </div>
            <div class="first-row-child-two columns">
                <h3>DUE DATE</h3>
                 <input type="date" placeholder="Insert a title">
            </div>
            
        </div>
        <div class="form-row-Two rows">
            <div class="second-row-child-two columns">
                <h3>CATEGORY</h3>
                <select name="category" id="">
                    <option value="IT">IT</option>
                    <option value="IT">IT</option>
                    <option value="IT">IT</option>
                </select>
            </div>
            <div class="second-row-child-two columns">
                <h3>URGENCY</h3>
                <select name="URGENCY" id="">
                    <option value="IT">HEIT</option>
                    <option value="IT">MEDIUM</option>
                    <option value="IT">LOW</option>
                </select>
            </div>
            
        </div>
        <div class="form-row-three rows">
            <div class="third-row-child-two columns">
                <h3>DESCRIPTION</h3>
                 <textarea name="" id="" cols="30" rows="5"></textarea>
            </div>
            <div class="third-row-child-two columns">
        
                <h3>ASIGEND TO</h3>
                <select name="URGENCY" id="">
                    <option value="IT">HEIT</option>
                    <option value="IT">MEDIUM</option>
                    <option value="IT">LOW</option>
                </select>
                <div class="form-butons">
                    <button>SAVE</button>
                    <button>DELETE</button>
                </div>
            </div>
            
        </div>

    </div>
</body>
</html>