<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTasks</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/CSS/addTaskStyle.css">
    <link rel="stylesheet" href="/CSS/backlog-style.css">

   


</head>

<body>
    <div class="nav-bar">
        <h3 id="gr-name">Group Name</h3>
        <a href="addTask.html">ADD TASK</a>
        <a href="backlog.html">BACKLOG</a>
        <a href="#">BOARD</a>
        <a href="#">TRASH</a>
        <a href="#">HELP</a>
    </div>
    <div class="title">
        <h2>Backlog</h2>
        <p>Learning Manegment System Project</p>
    </div>
    <div id="backlog-container">
        <div class="backlog-title">
            <h3>ASSIGEND TO</h3>
            <h3>CATEGORY</h3>
            <h3>DETAILS</h3>
        </div>
      
        </div>

    </div>
      
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
<script src="/databaseFire.js"></script>
    <script src="/JS/backlog.js" defer></script>
</body>

</html>