<!DOCTYPE html>
<html lang="en">

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }

    * {
        margin: 20px;
    }

    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border: 2px solid black;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE UPLOAD TEST</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">




</head>

<body>




    <!--  Image Name <input type="text" id="nameBox"> <br><br>

    <img id="myImg"> <br> <br>

    <input type="file" id="image_input">
    <button id="select" onclick="init()">SELECT IMAGE</button>

    <button id="upload">upload IMAGE</button>
    <button id="retrive" onclick="showImage()">retrive IMAGE</button>

 -->


    <!-- FIREBASE LIBRARIES -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-storage.js"></script>
    <script src="../databaseFire.js"></script>
    <script src="/JS/shairedFunktion.js"></script>
    <script src="../JS/uploadmage.js" defer></script>
</body>

</html>